$wrap_bt : 5%;

@mixin large-text {
    margin-bottom: $wrap_bt;
    font: {
        size: 45px;
        weight: 700;
    }
    position: relative;
}

.visual{margin-left: 300px;
    position: relative;
    overflow: hidden;
.inner{display: flex; height: 100vh; margin: 0; z-index: 3;
    flex-direction: column;
    justify-content: center;

    position: relative;

    &::before{ position: absolute; right: 0; bottom: 10%;width: 100%;height: 100%;
        
    }
}

h3{margin-bottom: 100px;
    font-family: 'Poppins','맑은 고딕',dotum,'돋움', sans-serif; font-size: 95px; letter-spacing: -0.055em;
    font-weight: 700;
}
p{font-size: 45px;}

.bg{width: 100%; height: 100%;
        position: absolute; left: 0; top: 0;

        &::before,
        &::after{ position: absolute;}
        &::before{width: 235%;
            height: 269%;
            z-index: 2;
            left: 50%;
            top: 50%;
            background-color: #000;
            transform: translate(-71%, -77%) rotate(172deg);
            border-radius: 100%;
        }
        &::after{width: 100%; height: 100%; z-index: 0; left: 0; top: 0;
            background-color: #fff;
        }
    }

    &::after{ width: 65%; height: 66%;
        position: absolute; right: -54px; bottom: 0;
        background-image: url(/img/visual_bg02.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        mix-blend-mode: darken;
    }
}

.section {padding: 7% 0;
    .tit{font-family: 'Poppins','맑은 고딕',dotum,'돋움', sans-serif; font-size: 5.5rem; letter-spacing: -0.05rem; font-weight: 700;}
    .desc{font-size: 1.5rem; margin-bottom: $wrap_bt;}
}

// section01
.about_wrap {margin-bottom: $wrap_bt;
    display: flex; align-items: center;
    .text_wrap{margin-right: 50px; width: calc(100% - 460px);
        dl:first-child{margin-bottom: 3%;}
            dt{@include large-text; padding-bottom: 1%;
                &::before{ width: 70%; height: 1px;
                    background-color: #fff;
                    position: absolute; left: 0; bottom: 0;
                }
            }
            dd{font-size: 25px;
                & + dd{margin-top: 2%;}
                span{display: block; margin-bottom: 1%;}
            }
        }
    .img_wrap{max-width: 410px; width: 100%;}
}
.skill {display: flex; flex-wrap: wrap; justify-content: center; width: 80%; margin: 0 auto;
    dt{width: 100%; 
        @include large-text; text-align: center;
        &::before{ width: 130px; height: 20px;
            background-color: rgba($color: #fff, $alpha: 0.3);
            position: absolute; left: 50%; bottom: 0;
            transform: translate(-50%, -10%);
        }
        
    }

    dd{width: calc((100% / 4) - 16px); margin: 0 8px; display: flex; padding: 3% 0;
        flex-direction: column; justify-content: center; align-items: center;
        border-radius: 20px;
        // background-color: #fff;
        color: #fff;
        &::before{display: block; width: 130px; height: 130px; margin-bottom: 15px;
            background-position: center; background-repeat: no-repeat; 
            border-radius: 100%;
            box-shadow: 1px 7px 15px rgba($color: #fff, $alpha: 0.2);
        }

    }

    $skillList: (html, css, javascript, scss, parcelbundler, webpack, babel);

    @each $skill in $skillList {
        dd.#{$skill} {
            &::before{background-image: url("/img/#{$skill}.png");}
        }
    }
}